@import '../../style/inc';

.homeSection {
    @include adaptive-value('padding-top', 110, 75, 1);
}

.promo {
    background: url('../../assets/image/main-page/promo/bg.png') center center no-repeat;
    background-size: cover;
    height: 100vh;

    &__wrapper {
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        display: flex;
        z-index: 100;
        height: 100%;
    }

    &__blackout {
        background-color: rgba($color: #000, $alpha: 50%);
    }

    &__title {
        @include adaptive-value('font-size', 50, 20, 1);
        @include adaptive-value('line-height', 35, 14, 1);

        text-transform: uppercase;
        color: $primary-color;
        position: relative;
        font-weight: 800;
        z-index: 6;

        em {
            color: $secondary-color;
        }

        &:not(:last-child) {
            @include adaptive-value('margin-bottom', 36, 8, 1);
        }
    }

    &__quote {
        position: relative;
        max-width: 460px;
        z-index: 5;

        &:not(:last-child) {
            @include adaptive-value('margin-bottom', 60, 30, 1);
        }
    }
}

.quote {
    position: relative;

    &__text {
        @include adaptive-value('font-size', 20, 12, 1);

        position: relative;
        line-height: 1.25;
        font-weight: 300;
        z-index: 7;
    }

    &__author {
        @include adaptive-value('font-size', 20, 15, 1);

        font-family: Amadeus, sans-serif;
        position: absolute;
        bottom: -20px;
        right: 0;

        span {
            position: relative;
            z-index: 6;
        }

        &::after {
            background: url('../../assets/image/main-page/promo/blot.png') center center no-repeat;

            @include adaptive-value('width', 263, 105, 1);

            transform: translate(-50%, -50%);
            background-size: cover;
            aspect-ratio: 263/282;
            position: absolute;
            content: '';
            z-index: 1;
            left: 50%;
            top: 50%;
        }
    }
}

.stock__content {
    @include adaptive-value('margin-top', 57, 20, 1);
}
