@import '../../style/inc';

.homeSection {
    @include adaptive-value('padding-top', 110, 75, 1);
}

.promo {
    background: url('../../assets/image/main-page/promo/bg.png') center center no-repeat;
    background-size: cover;
    height: 100vh;

    &__wrapper {
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        display: flex;
        z-index: 100;
        height: 100%;
    }

    &__blackout {
        background-color: rgba($color: #000, $alpha: 50%);
    }

    &__title {
        @include adaptive-value('font-size', 50, 20, 1);
        @include adaptive-value('line-height', 35, 14, 1);

        text-transform: uppercase;
        color: $primary-color;
        position: relative;
        font-weight: 800;
        z-index: 6;

        em {
            color: $secondary-color;
        }

        &:not(:last-child) {
            @include adaptive-value('margin-bottom', 36, 8, 1);
        }
    }

    &__quote {
        position: relative;
        max-width: 460px;
        z-index: 5;

        &:not(:last-child) {
            @include adaptive-value('margin-bottom', 60, 30, 1);
        }
    }
}

.quote {
    position: relative;

    &__text {
        @include adaptive-value('font-size', 20, 12, 1);

        position: relative;
        line-height: 1.25;
        font-weight: 300;
        z-index: 7;
    }

    &__author {
        @include adaptive-value('font-size', 20, 15, 1);

        font-family: Amadeus, sans-serif;
        position: absolute;
        bottom: -20px;
        right: 0;

        span {
            position: relative;
            z-index: 6;
        }

        &::after {
            background: url('../../assets/image/main-page/promo/blot.png') center center no-repeat;

            @include adaptive-value('width', 263, 105, 1);

            transform: translate(-50%, -50%);
            background-size: cover;
            aspect-ratio: 263/282;
            position: absolute;
            content: '';
            z-index: 1;
            left: 50%;
            top: 50%;
        }
    }
}

.stock__content {
    @include adaptive-value('margin-top', 57, 20, 1);
}

.contacts {
    &__content {
        @include adaptive-value('margin-top', 60, 21, 1);

        line-height: 1.25;
    }

    &__grid {
        @include adaptive-value('padding-bottom', 60, 25, 1);
        @include adaptive-value('padding-top', 100, 20, 1);
        @include adaptive-value('column-gap', 105, 10, 1);
        @include adaptive-value('row-gap', 60, 30, 1);

        grid-template-columns: 1fr 1fr;
        display: grid;
    }

    &__title {
        @include adaptive-value('font-size', 30, 12, 1);

        font-weight: 700;
    }

    &__contactsList {
        flex-direction: column;
        display: flex;
        row-gap: 18px;

        @media (max-width: $md4 + px) {
            grid-column: span 2;
        }
    }

    &__map {
        // @include adaptive-value('height', 433, 102, 1);
        // @include adaptive-value('width', 550, 154, 1);

        aspect-ratio: 550/433;
        grid-column: 2/2;
        grid-row: span 2;

        @media (min-width: $md3 + px) {
            margin: auto 0;
        }

        @media (max-width: $md4 + px) {
            grid-row: span 1;
        }
    }
}

.contactItem {
    flex-direction: column;
    display: flex;
    row-gap: 9px;

    &__key {
        @include adaptive-value('font-size', 18, 12, 1);

        color: #d1d1d1;
    }

    &__value {
        @include adaptive-value('font-size', 20, 12, 1);

        align-items: center;
        column-gap: 11px;
        font-weight: 500;
        display: flex;

        &--icons-list {
            column-gap: 20px;
        }

        i {
            @include adaptive-value('font-size', 25, 15, 1);
        }
    }
}
