@import '../../style/inc';

.notFoundPage {
    @include adaptive-value('padding-top', 200, 100, 1);
    background-color: #171717;
    box-sizing: border-box;
    min-height: 100vh;

    color: #FFF;
}
