@import '../../style/inc';

.cartPage {
    background-color: #171717;
    box-sizing: border-box;
    padding-top: 200px;
    min-height: 100vh;

    @media (max-width: $md4 + px) {
        padding-top: 100px;
    }

    &__list {
        @include adaptive-value('row-gap', 65, 30, 1);
        flex-direction: column;
        padding-bottom: 15px;
        display: flex;
    }

    &__checkoutBtn {
        width: 100%;
    }
}
