@import '../../style/inc';

.search {
    @include adaptive-value('padding', 15, 5, 1);

    border: 1px solid black;
    box-sizing: border-box;
    align-items: center;
    display: flex;

    &__input {
        @include adaptive-value('font-size', 18, 12, 1);

        padding-right: 5px;
        flex: 1 1 auto;
        outline: 0;
        border: 0;
    }

    i {
        color: #828282;
        font-size: 18px;
    }
}
