@import '../../style/inc';

.page {
    padding-top: 200px;
    min-height: 100vh;

    @media (max-width: $md3 + px) {
        padding-top: 100px;
    }
}

.section {
    @include adaptive-value('padding-bottom', 115, 50, 1);

    &__coffies {
        @include adaptive-value('margin-top', 60, 0, 1);
    }

    &__desserts {
        @include adaptive-value('margin-top', 100, 40, 1);
    }
}
