@import '../../style/inc';

.header {
    height: 160px;

    &__wrapper {
        position: fixed;
        color: #fff;
        width: 100%;
        left: 0;
        top: 0;
    }

    &__content {
        grid-template-areas:
            'n n n n n n n n n action-resized action-resized'
            'burger logo logo menu menu menu menu menu menu action action';
        align-items: center;
        padding: 60px 15px;
        row-gap: 17.5px;
        display: grid;

        @media (max-width: $md2 + px) {
            padding: 22px 15px;
        }
    }

    &__burger {
        margin-right: 5px;
        grid-area: burger;
    }

    &__logo {
        @include adaptive-value('font-size', 35, 22, 1);

        transition: color 0.3s ease;
        text-transform: uppercase;
        color: $primary-color;
        font-weight: 800;
        grid-area: logo;

        em {
            transition: color 0.3s ease;
            color: $secondary-color;
        }

        &:hover {
            color: $secondary-color;

            em {
                color: $primary-color;
            }
        }

        @media (min-width: $md3 + px) {
            grid-column: burger / logo;
        }
    }

    &__nav {
        grid-area: menu;

        @media (min-width: $md3 + px) and (max-width: $md2 + px) {
            justify-content: flex-end;
            grid-column: menu / action;
            display: flex;
        }

        @media (max-width: $md3 + px) {
            display: none;
        }
    }

    &__actions {
        grid-area: action;

        @media (min-width: $md3 + px) and (max-width: $md2 + px) {
            justify-content: flex-end;
            grid-area: action-resized;
            display: flex;
        }
    }
}

.burgerBtn {
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 28px;

    &::before,
    span,
    &::after {
        @include adaptive-value('width', 25, 21, 1);

        background-color: $secondary-color;
        transition: width 0.2s ease-in;
        position: absolute;
        display: block;
        height: 2px;
        right: 0;
    }

    &::before {
        content: '';
        top: 1px;
    }

    span {
        top: 10px;
    }

    &::after {
        content: '';
        bottom: 0;
    }

    @media (min-width: $md3 + px) {
        display: none;
    }
}

.navigation {
    &__list {
        flex-wrap: wrap;
        display: flex;
    }

    &__item {
        transition: color 0.3s ease;
        font-size: 15px;

        &:hover {
            color: $secondary-color;
        }

        &:not(:last-child) {
            @include adaptive-value('margin-right', 65, 40, 1);
        }
    }
}

.actions {
    &__item {
        @include adaptive-value('font-size', 30, 22, 1);

        transition: color 0.3s ease;
        color: $secondary-color;
        cursor: pointer;

        &:hover {
            color: $primary-color;
        }

        &:not(:last-child) {
            @include adaptive-value('margin-right', 55, 15, 1);
        }
    }
}
