@font-face {
    font-family: icons;
    src: url('../assets/fonts/icons/icons.ttf?q9qlcj') format('truetype'),
        url('../assets/fonts/icons/icons.woff?q9qlcj') format('woff'),
        url('../assets/fonts/icons/icons.svg?q9qlcj#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='ico-'],
[class*=' ico-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: icons, sans-serif !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-lock::before {
    content: '\e900';
}

.ico-mail-small::before {
    content: '\e901';
}

.ico-resend::before {
    content: '\e902';
}

.ico-delivery-man::before {
    content: '\e903';
}

.ico-delivery-van::before {
    content: '\e904';
}

.ico-coffee-cup::before {
    content: '\e905';
}

.ico-slider-arrow::before {
    content: '\e906';
}

.ico-tiktok::before {
    content: '\e907';
}

.ico-map-pointer::before {
    content: '\e908';
}

.ico-mail-big::before {
    content: '\e909';
}

.ico-heart-empty::before {
    content: '\e90a';
}

.ico-heart::before {
    content: '\e90b';
}

.ico-search::before {
    content: '\e90c';
}

.ico-spoiler-arrow::before {
    content: '\e90d';
}

.ico-profile::before {
    content: '\e90e';
}

.ico-phone::before {
    content: '\e942';
}

.ico-star::before {
    content: '\e9d9';
}

.ico-instagram::before {
    content: '\ea92';
}
