@import './_inc';
@import './_icons';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body {
    line-height: 1;
    height: 100%;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote {
    &::before,
    &::after {
        content: '';
        content: none;
    }
}

q {
    &::before,
    &::after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    font: inherit;
    padding: 0;
    border: 0;
}

._blackout {
    transition: opacity 0.3s ease;
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 50;
    opacity: 0;
    left: 0;
    top: 0;

    &--visible {
        pointer-events: all;
        opacity: 1;
    }
}

._ibg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    img {
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}

._technical-page {
    @include adaptive-value('padding-top', 200, 100, 1);
    background-color: #171717;
    box-sizing: border-box;
    min-height: 100vh;
    color: #FFF;
}

.rating-number {
    background-color: $secondary-color;
    display: inline-block;
    text-align: center;
    position: relative;
    line-height: 35px;
    margin-top: -4px;
    font-size: 15px;
    color: #fff;
    height: 30px;
    width: 30px;

    &::after {
        border-top: 9px solid $secondary-color;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        background-color: transparent;
        position: absolute;
        bottom: -9px;
        content: '';
        height: 0;
        width: 0;
        left: 0;
    }
}

// should be placed in a separate file, but doesn't work because of CSS modules. I know this is wrong
.gallery-slider {
    .swiper-wrapper {
        @include adaptive-value('padding-bottom', 50, 25, 1);
        @include adaptive-value('padding-top', 100, 50, 1);

        height: calc(100% + 40px);
        align-items: center;
        width: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;

        /* Center slide text vertically */
        display: box;
        display: flexbox;
        display: flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        align-items: center;
        transition: transform 1s;
        box-sizing: border-box;
        width: 290px;

        @media (max-width: $md2 + px) {
            width: 237px;
        }

        @media (max-width: $md3 + px) {
            width: 150px;
        }

        &-prev,
        &-next {
            z-index: -1;
        }

        &-active {
            transform: translateZ(0) scale(1.3) !important;
            width: 450px;

            @media (max-width: $md2 + px) {
                width: 362px;
            }

            @media (max-width: $md4 + px) {
                transform: translateZ(0) scale(1.5) !important;
                width: 200px;
            }
        }
    }
}

.moreFoodBtn {
    @include adaptive-value('margin-top', 25, 10, 1);
    @include adaptive-value('font-size', 18, 9, 1);
    line-height: 1.25;
    color: #777777;
    font-weight: 500;

    &:hover {
        color: #FFF;
    }

    i {
        @include adaptive-value('font-size', 14, 8, 1);
        transform: rotate(180deg);
        display: inline-block;
        margin-left: 5px;
    }
}

// <wrapper>====================================================================================================
._wrapper {
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
    display: flex;
    width: 100%;
}

// </wrapper>===================================================================================================

// <container>==================================================================================================
._container {
    max-width: $max-width-container + px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
}

// </container>=================================================================================================

body {
    font-family: $primary-font;
    color: $primary-color;
}
